*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1;
    font-family: Montserrat;
    color: #333333;
}

.title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000;
}

@media (max-width: 1199.98px) {
    .text-title__title {
        font-size: 30px;
    }
}

/* =================================== */
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* =================================== */

.page {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 1170px;
    margin: 0 auto;
}

@media (max-width: 1199.98px) {
    [class*="__container"] {
        max-width: 970px;
    }
}

@media (max-width: 990.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}

@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
        margin: 0px 15px;
    }
}

/* =================================== */

.header__container {
    position: relative;
    height: 122px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2
}

.header__menu {
    display: flex;
}

@media (max-width: 767.98px) {
    .header__menu {
        flex-wrap: wrap-reverse;
    }
}

.menu__button {
    border: 2px solid #FFFFFF;
    color: #327CC6;
    width: 99px;
    height: 30px;
    font-weight: 700;
    border-radius: 15px;
    margin-right: 40px;
    padding: 0px 18px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.menu__button:hover {
    background: #00006E;
    color: #FFFFFF;
    border: 2px solid #00006E
}

.menu_list {
    display: flex;
    gap: 7px;
    align-items: center;
}

@media (max-width: 499.98px) {
    .header__menu {
        margin-left: 61px;
        margin-bottom: 20px;
    }

    .menu_list {
        margin-left: 0px;
        padding-bottom: 13px;
    }
}

.menu__link {
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    padding: 5px;
    transition: all 0.3s ease 0s;
}

.menu__link.active {
    background: #FFFFFF;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    color: #327CC6;
}

.active {
    background: #FFFFFF;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    color: #327CC6;
}

.menu__link:hover {
    background: #FFFFFF;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    color: #327CC6;
}

/* =================================== */
.blue-element::before {
    position: absolute;
    content: "";
    background: #327CC6;
    border-radius: 0px 0px 0px 200px;
    width: 100%;
    height: 650px;
    left: 0px;
    top: 0px;
    z-index: 1;
}

@media (max-width: 1199.98px) {

    .blue-element::before {
        height: 800px;
        border-radius: 0px 0px 0px 100px;
    }
}

@media (max-width: 767.98px) {
    .blue-element::before {
        height: 800px;
        border-radius: 0px 0px 0px 50px;
    }
}

@media (max-width: 595.98px) {
    .blue-element::before {
        height: 600px;
        border-radius: 0px 0px 0px 50px;
    }
}

/* =================================== */
.page__main {
    position: relative;
    z-index: 2;
    padding-bottom: 110px;
}

@media (max-width: 595.98px) {
    .page__main {
        padding-top: 40px;
    }
}

.content-main__body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    flex-wrap: wrap;
    gap: 80px;
    align-items: center;
    margin-top: -1.9%;
}

.content-main__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    text-transform: uppercase;
}

@media (max-width: 1199.98px) {
    .content-main__body {
        gap: 0;
        display: flex;
    }

    .content-main__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        width: 386px;
    }

    .content-main__image {
        text-align: center;
        width: 100%;
        margin-top: -6%;
    }

    .content-main__image img {
        width: 640px;
    }
}

@media (max-width: 767.98px) {}

@media (max-width: 595.98px) {
    .content-main__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
    }

    .content-main__image img {
        width: 320px;
    }

    .content-main__image {
        margin-top: 2.8%;
    }
}

.content-main__items {
    display: flex;
    gap: 87px;
    justify-content: flex-start;
    width: 50%;
    margin-top: -5%;
}

.items-content__item {
    align-content: center;
}

.items-content__item h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000;
}

.item__img {
    background: #FBB03B;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media (max-width: 1199.98px) {
    .content-main__items {
        margin-top: -10%;
        gap: 60px;
    }

    .item__img {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 595.98px) {
    .content-main__items {
        padding-top: 0%;
        gap: 20px;
    }

    .item__img {
        width: 60px;
        height: 60px;
    }

    .item__img img {
        width: 40px;
        height: 40px;
    }

    .items-content__item h2 {
        font-size: 16px;
        line-height: 20px;
    }

    .item-content__text {
        padding: 10px 5px;
    }
}

.item-content__text {
    padding: 20px 15px;
}

@media (max-width: 595.98px) {
    .item-content__text {
        padding: 10px 5px;
    }
}


/* =================================== */

.page__offline {
    padding-top: 110px;
    padding-bottom: 0px;
    margin-bottom: 110px;
    background: linear-gradient(180deg, #FFFFFF 0%, #B8DBFF 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 200px;
}

@media (max-width: 1199.98px) {
    .page__offline {
        border-radius: 0px 100px;
    }
}

@media (max-width: 595.98px) {
    .page__offline {
        border-radius: 0px 50px;
    }
}


.offline-content__text {
    padding-bottom: 110px;
}

.text-title__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000;
}

@media (max-width: 1199.98px) {
    .text-title__title {
        font-size: 30px;
    }
}

.text-title__sub-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.offline-content__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 595.98px) {
    .offline-content__items {
        gap: 50px;
    }
}



.offline-content__item {
    height: 210px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(202, 230, 255, 0.25), 0px 2px 8px rgba(0, 0, 110, 0.15);
    border-radius: 5px;
    padding: 40px 30px;
}

.content-item__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -75px;
    margin-bottom: 35px;
}

.img-blue {
    background: #327CC6;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.content-item__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

/* =================================== */
.online__container {
    padding-top: 110px;
    padding-bottom: 110px;
}

.img-black-blue {
    background: #00006E;
    ;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.online-content__button {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}


.online-content__button-link {
    background: #00006E;
    border-radius: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 46px;
    gap: 15px;
    height: 70px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    transition: all 0.3s ease 0s;
}

.online-content__button-link:hover {
    background-color: #FBB03B;
}

@media (max-width: 1199.98px) {
    .online-content__button-link {
        font-size: 20px;
        line-height: 20px;
    }
}

@media (max-width: 595.98px) {
    .online-content__button-link img {
        display: none;
    }
}

/* =================================== */
.swiper {
    width: 600px;
    height: 300px;
}

.page__slider {
    padding-top: 110px;
    padding-bottom: 110px;
}

.slider__container {
    position: relative;
}

.slider__body-icon {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 50px;
}

@media (max-width: 767.98px) {

    .swiper {
        width: 100%;
    }

}

.slide-content__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.slide-content__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: right;


}

.slide-content__company {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: right;
    color: #8D8D8D;
}

.body-main-block__arrow.swiper-button-prev,
.body-main-block__arrow.swiper-button-next {
    position: static;
    width: 60px;
    height: 60px;
    transition: all 0.3s ease 0s;
}

.body-main-block__arrow.swiper-button-prev {
    transform: rotate(180deg);
}

.body-main-block__arrow::after {
    display: none;
}

.body-main-block__arrows {
    position: absolute;
    bottom: 188px;
    left: 183px;
    display: flex;
    gap: 708px;
    align-items: center;
}

@media (max-width: 1199.98px) {
    .body-main-block__arrows {
        left: 78px;
    }
}

@media (max-width: 995.98px) {
    .body-main-block__arrows {
        gap: 15px;
        bottom: 313px;
        left: 500px;
    }

    .slider__body-icon img {
        width: 63px;
        height: 50px;
    }

    .slider__body-icon {
        justify-content: flex-start;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media (max-width: 767.98px) {
    .body-main-block__arrows {
        gap: 15px;
        bottom: 313px;
        left: 435px;
    }
}

@media (max-width: 595.98px) {
    .body-main-block__arrows {
        gap: 15px;
        bottom: 313px;
        left: 325px;
    }
}

@media (max-width: 499.98px) {
    .body-main-block__arrows {
        gap: 15px;
        bottom: 313px;
        left: 195px;
    }
}


/* =================================== */
.page__cooperation {
    padding: 110px 150px;
    background: #327CC6;
    border-radius: 0px 200px;
    width: 100%;
}

@media (max-width: 1443.98px) {
    .page__cooperation {
        padding: 110px 20px;
    }
}

.cooperation__title {
    color: #FFFFFF;
}

.cooperation__items {
    height: 100%;
}

.cooperation__item {
    display: flex;
    gap: 22px;
    align-items: center;
}

.cooperation-item-content-up__one {
    padding-top: 216px;
    margin-bottom: -100px;
    position: relative;
}

.cooperation-item-content-up__one::after {
    content: "";
    position: relative;
    top: 111px;
    right: 233px;
    background: #FBB03B;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.cooperation-item-content-up__two {
    padding-left: 419px;
    margin-bottom: -173px;
}

.cooperation-item-content-up__two::after {
    content: "";
    position: relative;
    top: 75px;
    right: 170px;
    background: #FBB03B;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.cooperation-item-content-up__three {
    padding-left: 865px;
    margin-bottom: 30px;
}

.cooperation-item-content-up__three::after {
    content: "";
    position: relative;
    top: 68px;
    right: 236px;
    background: #FBB03B;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.cooperation__vector {
    padding-top: -10%;
}

.cooperation__vector img {
    width: 78%;
}

.text-cooperation {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.cooperation-item-content-up__button {
    padding-top: 26px;
}

.button-cooperation__link {
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    width: 99px;
    height: 30px;
    border-radius: 15px;
    padding: 9px 18px;
    cursor: pointer;
}

.cooperation-item-content-down__one {
    padding-left: 200px;
    margin-top: -25px;
}


.cooperation-item-content-down__one::after {
    content: "";
    position: relative;
    top: -67px;
    right: 220px;
    background: #FBB03B;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.cooperation-item-content-down__two {
    padding-left: 55%;
}

.cooperation-item-content-down__two::after {
    content: "";
    position: relative;
    top: -71px;
    right: 292px;
    background: #FBB03B;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

@media (max-width: 1199.98px) {
    .page__cooperation {
        border-radius: 0px 100px;
    }

    .cooperation__item {
        flex-direction: column;
        align-items: flex-start;
    }

    .cooperation-item-content-up__one {
        padding-top: 304px;
        margin-left: 23px;
        margin-bottom: -438px;
        position: relative;
    }

    .cooperation-item-content-up__two {
        padding-left: 60%;
        margin-left: -20%;
        margin-bottom: -38%;
        padding-top: 20%;
        width: 100px;
    }

    .cooperation-item-content-up__two::after {
        top: -5px;
        right: 9px;
    }

    .cooperation-item-content-up__three {
        padding-left: 761px;
        margin-bottom: -8px;
        padding-top: 58px;
    }

    .cooperation-item-content-up__three::after {
        top: 4px;
        right: 20px;
    }

    .cooperation-item-content-up__image img {
        width: 55;
        height: 55;
    }

    .cooperation-item-content-up__one::after {
        top: 6px;
        right: 39px;
    }

    .cooperation-item-content-down__one {
        margin-top: -25px;
        margin-left: -800px;
    }

    .cooperation-item-content-down__one::after {
        top: -190px;
        right: 0px;
    }

    .cooperation-item-content-down__two {
        padding-left: 19%;
        margin-top: -18%;
    }

    .cooperation-item-content-down__two::after {
        top: -216px;
        right: 8px;
    }
}

@media (max-width: 995.98px) {
    .page__cooperation {
        border-radius: 0px 50px;
    }

    .cooperation__title {
        font-size: 30px;
    }

    .cooperation__vector {
        display: none;
    }

    .cooperation__title {
        padding-bottom: 50px;
    }

    .cooperation__items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        border-left: 5px solid #29ABE2;
        padding-left: 50px;
    }

    .cooperation-item-content-up__one {
        padding-top: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
        position: relative;
        order: 1;
    }

    .cooperation-item-content-up__two {
        padding-left: 0%;
        margin-left: 0%;
        margin-bottom: 0%;
        padding-top: 0%;
        order: 3;
    }

    .cooperation-item-content-up__three {
        padding-left: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
        order: 5;
    }

    .cooperation-item-content-down__one {
        margin-top: 0px;
        margin-left: 0px;
        padding-left: 0px;
        order: 2;
    }

    .cooperation-item-content-down__two {
        padding-left: 0%;
        margin-top: 0%;
        order: 4;
    }

    /*  */

    .cooperation-item-content-up__one::after {
        content: "";
        position: relative;
        top: -200px;
        right: 64px;
        background: #FBB03B;
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }

    .cooperation-item-content-up__two::after {
        content: "";
        position: relative;
        top: -200px;
        right: 64px;
        background: #FBB03B;
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }

    .cooperation-item-content-up__three::after {
        content: "";
        position: relative;
        top: 0px;
        right: 64px;
        background: #FBB03B;
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }

    .cooperation-item-content-down__one::after {
        content: "";
        position: relative;
        top: -130px;
        right: 64px;
        background: #FBB03B;
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }

    .cooperation-item-content-down__two::after {
        content: "";
        position: relative;
        top: -115px;
        right: 64px;
        background: #FBB03B;
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }
}

/* =================================== */

.page__terms {
    padding-top: 110px;
    padding-bottom: 110px;
}

.terms-content__title {
    margin-bottom: 43px;
}

.terms-content__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    row-gap: 30px;
    column-gap: 20px;
    flex-wrap: wrap;
}

.terms-content__item {
    background: #00006E;
    box-shadow: 0px 4px 25px rgba(202, 230, 255, 0.25), 0px 2px 8px rgba(0, 0, 110, 0.25);
    border-radius: 5px;
    padding: 40px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.item-content__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

.item-content__price {
    text-align: right;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
}

.last-text {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #8D8D8D;
}

.last-price {
    font-weight: 400;
    font-size: 40px;
    line-height: 80px;
    color: #327CC6;
}

.last-item-content {
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(202, 230, 255, 0.25), 0px 2px 8px rgba(0, 0, 110, 0.25);
    border-radius: 5px;
    width: 300px;
}

.terms-content__text {
    font-weight: 400;
    font-size: 13px;
    color: #8D8D8D;
    line-height: 20px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.text-terms__content {
    width: 50%;
}

@media (max-width: 1199.98px) {
    .terms-content__item {
        width: 300px;
        padding: 45px 15px;
    }

    .terms-content__items {
        row-gap: 10px;
        justify-content: center;
        display: flex;
    }

    .terms-content__item:last-child {
        justify-content: flex-start;
    }

    .terms-content__text {
        flex: 0 1 40%;
        height: 300px;
    }

    .last-item-content {
        flex: 0 1 40%;
    }

    .text-terms__content {
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    .terms-content__item {
        flex: 0 1 100%;
    }

    .terms-content__text {
        flex: 0 1 100%;
        height: 300px;
    }

    .last-item-content {
        flex: 0 1 100%;
    }

    .text-terms__content {
        width: 50%;
    }

    .terms-content__title {
        font-size: 30px;
    }

    .text-terms__content {
        padding-top: 50px;
        width: 100%;
    }

    .terms-content__text {
        padding: 0px 5px;
    }
}

/* =================================== */

.footer {
    background: #00006E;
    border-radius: 0px 200px 0px 0px;
    padding: 80px 20px;
}

.footer__content {
    display: flex;
    flex-wrap: wrap;
}

.content-footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex: 0 1 50%;
}

.contacts-content a {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
}

.contacts-content__title {
    color: #FFFFFF;
}

.content-footer__forms {
    flex: 0 1 50%;
}

.forms-content__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-form__input {
    background: #00006E;
    color: #FFFFFF;
    height: 50px;
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}

.content-form__input::-moz-placeholder {
    color: #FFFFFF;
}

.content-form__input::placeholder {
    color: #FFFFFF;
}

.content-form__input-texterea {
    background: #00006E;
    color: #FFFFFF;
    height: 100px;
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    resize: none;
}

.content-form__input-texterea::-moz-placeholder {
    color: #FFFFFF;
}

.content-form__input-texterea::placeholder {
    color: #FFFFFF;
}

.content-form__button-block {
    text-align: right;
}

.content-form__button {
    background: #FBB03B;
    border-radius: 35px;
    width: 238px;
    height: 52px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.content-form__button:hover {
    background-color: #ff9e02;
}

.footer-content__copyright {
    padding-top: 50px;
}

.footer-content__copyright h2 {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
}

@media (max-width: 1199.98px) {
    .content-footer__forms {
        flex: 0 1 100%;
        padding-top: 40px;
    }

    .content-footer__contacts {
        flex: 0 1 100%;
    }

    .footer {
        background: #00006E;
        border-radius: 0px 100px 0px 0px;
        padding: 80px 10px;
    }
}

@media (max-width: 767.98px) {
    .footer {
        background: #00006E;
        border-radius: 0px 50px 0px 0px;
        padding: 80px 20px;
    }

    .content-footer__contacts {
        gap: 0px;
    }

    .contacts-content__title {
        font-size: 30px;
        padding-bottom: 33px;
    }

    .contacts-content a {
        font-size: 24px;
    }
}

/* =================================== */
/* =================================== */